@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;800;900&display=swap');

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 5em;
  font-weight: bolder;
  font-family: 'Bitter', serif;
  letter-spacing: 0.025em;
}
h2 {
  font-size: 2.5em;
  font-weight: 900;
  font-family: 'Bitter', serif;
  letter-spacing: 0.025em;
}
a {
  font-family: 'Bitter', serif;
  font-weight: bolder;
  letter-spacing: 0.025em;
}
a:hover {
  color: #B38CB4;
}
p {
  font-weight: 500;
}
p,a,h2, h1 {
  color: #F6F6F6;
}

.tag{
  background-color: #9E37DA;
}
.tag:hover {
  background-color: #561e76;
}
