.container {
  width: 100%;
}
.hamburger:hover {
  color: #9E37DA;
  transform: scale(2);
}
.navBar {
  background-color: #000000;
  width: 100%;
  z-index: 100;
  top: 0;
}
.line {
  fill: none;
  stroke: #20fc8f;
  stroke-width: 1;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 50 207;
  stroke-width: 4;
}
.line2 {
  stroke-dasharray: 50 60;
  stroke-width: 4;
}
.line3 {
  stroke-dasharray: 50 207;
  stroke-width: 4;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.navLink {
  padding: 5px;
}
.navLink:hover {
  background-color: #9E37DA;
}
